<footer class="site-footer">
	<div class="site-footer-inner">
		<ul class="we-accept">
			<li><img src="https://webstore-template-assets.tebex.io/images/we-accept/apple.svg" alt="Apple Pay"></li>
			<li><img src="https://webstore-template-assets.tebex.io/images/we-accept/google.png" alt="Google Pay"></li>
			<li><img src="https://webstore-template-assets.tebex.io/images/we-accept/mastercard.png" alt="Mastercard"></li>
			<li><img src="https://webstore-template-assets.tebex.io/images/we-accept/visa.png" alt="Visa"></li>
			<li><img src="https://webstore-template-assets.tebex.io/images/we-accept/amex.png" alt="American Express"></li>
		</ul>

		<p class="copyright">{{ __("© :year :store_name. All Rights Reserved. We do not have affiliation with any real world brands.", { 'year': 2025, 'store_name': store.name }) }}</p>
	</div>
</footer>
